html,
    body {
      height: 100%;
    }
    
    .sidebar {
      position: fixed;
      top: 68px;
      bottom: 0;
      left: 0;
      width: 250px; /* Adjust the width as needed */
      background-color: #f8f9fa; /* Custom sidebar background color */
    }
    
    .content {
      margin-left: 250px; /* Adjust the margin to match the sidebar width */
      padding: 20px; /* Optional: Add padding to the content area */
    }

    .sidebar .nav-link {
      color: #261f13; /* Set the text color to pink */
    }
    .image-frame {
      border: 2px solid #000; /* Customize the border color and thickness */
      padding: 5px; /* Optional: Add padding to create space between the image and the border */
    }